<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Page Title</title>
</head>
<body style ="background-color:white;">

<h1 style="font-size:40px;color:red;text-align:center;"><strong>This is a my idol</strong></h1>
<h2 style ="background-color:orange;color:rgba(200, 100, 250, 1">She is really <strong>beautiful</strong></h2>

<p title="I'm a tooltip"; style ="background-color:powderblue;font-family:arial;">This is a her <strong>photograph </strong>.</p>
<img src = "https://i.pinimg.com/originals/08/fd/cc/08fdcc9237619ca9b392a08e5e6d32c6.jpg" alt = "Tien boi dinh" style=“width:526px;height:526px;” >
<br>
<a href="http://stage48.net/wiki/index.php/Qian_BeiTing">This is a her profile</a>

<p style = "color:dodgerblue;"> She is the <mark>1st generation</mark> of team SII, <i>group SNH48</i></p>  
<p style ="color:seagreen;border:2px solid yellow;">Now, she and <q>another</q> girl of <del>0<sub>st</sub> gens</del> <ins> 1<sup>st</sup> gens </ins> are graduation on her group</p> 

</body>
</html>

<%=link_to 'Articles listing', articles_path %> |
<%=link_to 'home page', root_path %>

